.advantages{
    color: #383A4C;
}

.advantages__subtitle{
    display: flex;
    margin: 0 auto;
    width: 189px;
    align-items: center;
    justify-content: space-between;
}

.advantages__line{
    width: 43px;
    height: 2px;
    background: #383A4C;
}